@using  EPazar.Entity.SanalEntity;
@using System.Globalization
@model SiparisBilgisiEntityleri

@{
}

@{
    var Siparisler = Model.Siparis;
    var SiparisDetaylari = Model.ViewSiparisDetay;
    var SiparisKargoBilgisi = Model.SiparisKargoBilgisi;

    var ToplamTutar = Math.Round(SiparisDetaylari.Sum(x => x.Toplam), 2);
}
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/mobiladreslerim.css">

    <div class="container-fluid filtreler-container">
    <div class="row-title row">
        <div class="col-2">
            <i class="fa-solid fa-angle-left fa fa-2x"></i>
        </div>
        <div class="col-8">Sipariş Detayım</div>
    </div>
</div>
<div class="orders">
    <div class="row adresEkle">
        <div class="col-12 bigrow " style="font-size: 12px;">
            <div style="margin-bottom: 6px"><p class="baslik">Sipariş No: </p> <span>@Siparisler.SiparisNumarasi</span></div>
            <div style="margin-bottom: 6px"><p class="baslik">Sipariş Tarihi :  </p> <span>@Siparisler.CreateTime.Date</span></div>
            <div style="margin-bottom: 6px"><p class="baslik">Sipariş Özeti: </p><span>@SiparisDetaylari.Count Ürün</span></div>
            <div style="margin-bottom: 6px"><p class="baslik">Sipariş Özeti: </p><span>Kargoya Verildi</span></div>
            <div style="margin-bottom: 6px"><p class="baslik">Toplam: </p><span>@ToplamTutar₺</span></div>
        </div>
    </div>
    @{
        var Tedarikciler = SiparisDetaylari.GroupBy(x=> x.TedarikciAdi).Select(x=> x.Key).ToList();
    }
    @foreach(var tedarikci in Tedarikciler){
        var TedarikciUrunleri = SiparisDetaylari.Where(x=> x.TedarikciAdi == tedarikci).ToList(); 
        <div class="row adresEkle">
            <div class="col-12 bigrow " style="font-size: 12px;">
                <div style="margin-bottom: 6px"><p class="baslik">Tahmini Teslimat: </p> <span>@Siparisler.CreateTime.Date.AddDays(3)</span></div>
                <div style="margin-bottom: 6px"><p class="baslik">Satıcı: </p><span>@tedarikci</span></div>
            </div>
            <div class="col-12 bigrow " style="font-size: 12px;">
                <div style="margin-bottom: 16px"><span style="color: #0bc15c;">@Siparisler.SiparisDurum.Ad</span></div>
                @foreach(var item in SiparisKargoBilgisi){
                    <div style="margin-bottom: 6px;font-size: 11px"><p class="baslik">Kargo Firması :  </p> <span>@item.KargoFirmalari.Ad</span></div>
                    <div style="margin-bottom: 6px;font-size: 11px"><p class="baslik">Kargo Kodu :  </p> <span>@item.KargoTakipKodu</span></div>
                }
            </div>
            @foreach(var urun in TedarikciUrunleri){
                <div class="col-12 bigrow " style="font-size: 12px;">
                    <div style="display: flex;">
                        <div  style="width: 30%">
                            <img width="100%" style="max-width: 80px" src="@urun.ResimLink" alt="@urun.UrunAdi">
                        </div>
                        <div style="margin-left: 21px;width: 75%;overflow: hidden;    justify-content: center;">
                            <p style="font-weight: bold">@urun.TedarikciAdi</p>
                            <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">@urun.UrunAdi</p>
                            <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"><span style="font-weight: bold">Adet</span> : @urun.Adet </p>
                            <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color: orange">@urun.Toplam₺</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="row adresEkle">
        <div class="col-12 bigrow " style="font-size: 12px;">
            <div style="margin-bottom: -10px;color: orange;font-weight: bold;font-size: 13px"><p class="">Teslimat Adresi </p></div>
        </div>
        <div class="col-12 bigrow " style="font-size: 12px;">
            <div style="margin-bottom: 6px"><p class="baslik">@Siparisler.KullaniciAdresleri.AdSoyad</p></div>
            <div style="margin-bottom: 6px"><p class="">@Siparisler.KullaniciAdresleri.Adres</p></div>
            <div style="margin-bottom: 6px"><p class="">@Siparisler.KullaniciAdresleri.Mahalle / @Siparisler.KullaniciAdresleri.Ilce / @Siparisler.KullaniciAdresleri.Sehir</p></div>
            <div style="margin-bottom: 6px"><p class="">@Siparisler.KullaniciAdresleri.Telefon</p></div>
        </div>
    </div>

</div>

  

